body{
  background : url(coffee.jpg) no-repeat center center fixed ;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
}
.footer{
  background-color: black;
  bottom :0;
  position: fixed;
}
.rowheight{
  height: 500px;
}
p{
  padding:10px;
}
img{
  height:auto;
  width: auto;
}
